body {
    height: 100vh;
    font-family: Audiowide, cursive;
    color: red;
    background-image: url("wild_oliva.png");
}

.playing-area {
    width: 75%;
    min-width: 850px;
    height: 100%;
    margin: 0 auto;
}

.reset-section {
    height: 9%;
}

.playing-section {
    height: 91%;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.screen {
    width: 700px;
    height: 700px;
    flex-shrink: 0;
    background-color: white;
    border: 15px solid gray;
    box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

button {
    display: block;
    width: 170px;
    margin-bottom: 150px;
    background-color: black;
    color: inherit;
    font-family: inherit;
    border-color: red;
    border-radius: 10px;
    font-size: 14px;
    padding: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
}

.reset-section > button {
    margin: 0 auto;
}